---
import Header from '../components/Header.astro';
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to lazydukk">
  <Header />
  <main>
    <div class="flex items-center justify-center">
      <h1 class="text-bold text-blue-300 text-9xl">/about</h1>
    </div>
	<div class="flex items-center justify-center">
		<p class="text-gray-400">home for bdas@lazydukk</p>
	  </div>
  </main>
</Layout>
