---
---
<div class="flex items-center justify-center">
    <div class="text-white space-x-20 mt-3">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
      </div>
</div>